.c1{

    width: 100px;
    height: 100px;
}

.p1{
    background-color: red;
    position: static;
}

.p2{
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 200px;
}


.p3{
    background-color: yellow;
    position: fixed;
    top: 200px;
    left: 300px;
    z-index: 888;
}

.p4{

    background-color: black;
    width: 400px;
    height: 300px;
    z-index: 777;
    top: 150px;
    position: relative;
}



.p5{

    background-color: pink;
    position: absolute;
    bottom: 0;
    right: 0;
}

.p6{
    background-color:gray

}