<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.iu.s1.member.MemberDAO">
  <!--id는 사용하려는 DAO의 매소드명과 동일하게 작성하여야함 -->
  <!-- insert,delete,update 는 리턴값이 없어서 resultType을 쓰지앖음 -->
 
   <insert id="memberJoin" parameterType="MemberDTO">
  	INSERT INTO MEMBER 
  	VALUES (#{id}, #{pw}, #{memberName}, #{memberPhone}, #{email})
  </insert>
  
  <insert id="setMemberRoleAdd" parameterType="MemberDTO">
  INSERT INTO MEMBER_ROLE (ID,ROLENUM)
  VALUES (#{id},(SELECT ROLENUM FROM ROLE WHERE ROLENAME = 'MEMBER'))
  </insert>
  
     <select id="getMemberLogin" parameterType="MemberDTO" resultMap="memberDetailResult">
	 SELECT M.*,R.* FROM MEMBER M
 	  INNER JOIN MEMBER_ROLE MR
  	 ON (M.ID = MR.ID)
  	 INNER JOIN ROLE R
  	 ON (R.ROLENUM = MR.ROLENUM)
  		 WHERE MR.ID =  #{id}
       </select>
       
       <resultMap type="MemberDTO" id="memberDetailResult">
        
       	<!--Primary Key  -->
    	<id column="ID" property="id" />
       	<result column="PW" property="pw" />
    	<result column="MEMBERNAME" property="memberName" />
    	<result column="EMAIL" property="email" />
    	<result column="MEMBERPHONE" property="memberPhone" />
       
       <!-- 1:1 관계일 때 -->
      <association property="roleDTO" javaType="RoleDTO">
      <result  column="ROLENUM" property="roleNum"/>
      <result  column="ROLENAME" property="roleName"/>
      </association>
      </resultMap>
      
	   <update id="setMemberUpdate" parameterType="MemberDTO">
	  	UPDATE MEMBER
	  	SET MEMBERNAME = #{memberName}, MEMBERPHONE = #{memberPhone}, EMAIL = #{email}
		WHERE ID = #{id} 
	   </update>  
  
  
  
 
   </mapper>
   
   


 

